/* General Reset and Typography */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
    background-color: #f4f4f4;
}
select {
    background: #007BFF;
    border: none;
    cursor: pointer;
    padding: 5px 10c;
    border-radius: 5px;
}

.main-content {
    display: flex;
    flex-direction: row; /* Change to row for side-by-side layout */
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    animation: fadeIn 1.5s ease-out; /* Animation for fade-in effect */
}

.main-content div, .main-content form {
    flex: 1;
    margin: 80px;
    padding: 30px;
    min-width: 500px; /* Ensures forms and divs don't stretch too wide */
    max-width: 900px; /* Restricts maximum width for better layout control */
}

.main-content h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.main-content p, .main-content ul {
    font-size: 1em;
    line-height: 1.5;
    color: #666;
}
/* Add a fade-in animation to the main content */
.main-content {
    animation: fadeIn 2.5s ease-out;
}

/* Define the fadeIn animation */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Animation keyframes */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Responsive adjustments with Bootstrap utilities */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
}

/* Adjust image size and make it responsive */
.main-content .right img {
    width: 450px; /* Full width of the container */
    max-width: 450px; /* Maximum width to maintain aesthetics */
    height: 300px; /* Maintain aspect ratio */
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Features List Styling */
ul {
    list-style-type: disc;
    padding-left: 20px;
}
.text-center {
    text-align: center;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: stretch;
    }

    .main-content div, .main-content form {
        width: auto;
    }
}
